::-webkit-scrollbar {
    display: none;
}

a:link {
    color: #b3b3b3;
    text-decoration: none;
    font-family: "Cal Sans", sans-serif;
}


a:visited {
    color: #b3b3b3;
    text-decoration: none;
    font-family: "Cal Sans", sans-serif;
}

a:hover {
    color: #020202;
    transition: color 0.5s;
    font-family: "Cal Sans", sans-serif;
}

.social-buttons {
    justify-content: center;
    gap: 150px;
    margin-top: 0px;
}

.social-buttons .btn {
    display: inline-block;
    padding: 10px 20px;

    font-family: "Cal Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;

    color: #020202;

    text-decoration: none;

    border: 2px solid #637371;
    border-radius: 8px;

    background-color: #ebebeb;
    transition: all 0.3s ease;
}

.social-buttons .btn2 {
    display: inline-block;
    padding: 10px 20px;

    font-family: "Cal Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;

    color: #bfbfbf;

    text-decoration: none;

    border: 2px solid #bfbfbf;
    border-radius: 8px;

    background-color: #020202;
    transition: all 0.3s ease;
}

.social-buttons .btn:hover {
    background-color: #020202;
    color: #ffffff;
    border-color: #020202;
}

.social-buttons .btn2:hover {
    background-color: #bfbfbf;
    color: #020202;
    border-color: #020202;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;

    margin: 0px;
    
    background-color: #b3b3b3;
}

header {
    width: 100%;
    height: 750px;
    position: sticky;
    
    text-align: center;
    justify-content: center;
    overflow: hidden;

    z-index: +1;
}

#title_gradient {
    font-family: "Roboto Mono", monospace;
    font-size: xx-large;
    font-weight: bold;

    color: #ffffff;
    /* Cor do texto */
    text-align: center;

    /* Gradiente de fogo animado */
    background-clip: content-box;
    background: linear-gradient(45deg, #7e7b77, #104c9b, #1b1b1b, #b46d10);
    background-size: 300% 300%;
    /* Faz o gradiente se mover */
    -webkit-background-clip: text;
    /* Aplica o gradiente apenas ao texto */
    -webkit-text-fill-color: transparent;
    /* Torna o fundo do texto transparente */
    animation: gradient 3s infinite;
    /* Animação do gradiente */
}

.borda {
    display: inline-block;
    height: 100px;
    width: auto;
    padding: 0px 45px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    background-color: #020202;
    border-radius: 50px;
}

.borda_dark {
    display: inline-block;
    height: 100px;
    width: auto;
    padding: 0px 45px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    background-color: #b3b3b3;
    border-radius: 50px;
}

#title {
    font-family: "Roboto Mono", monospace;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 150px;
    color: #8d8d8d;
    /* Cor do texto */
    text-align: center;

    max-width: 80%;
}

#subtopico {
    font-family: "Roboto Mono", monospace;
    font-size: 7vh;
    font-weight: bold;

    margin-bottom: 15px;
    color: #020202;
    /* Cor do texto */
    text-align: center;

    max-width: 80%;
}

#subtopico_alternativo {
    font-family: "Roboto Mono", monospace;
    font-size: 7vh;
    font-weight: bold;

    margin-bottom: 15px;
    color: #bfbfbf;
    /* Cor do texto */
    text-align: center;

    max-width: 80%;
}

#subtopico_txt {
    font-family: "Roboto Mono", monospace;
    font-size: 5vh;

    margin-bottom: 15px;
    color: #313131;
    /* Cor do texto */
    text-align: left;

    max-width: 80%;
}

#subtopico_txt2 {
    font-family: "Roboto Mono", monospace;
    font-size: 5vh;

    margin-bottom: 15px;
    color: #020202;
    /* Cor do texto */
    text-align: center;

    max-width: 80%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Texto como janela do vídeo */

.video_background {
    width: 100%;
    height: 1000vh;

    border-radius: 15px;
    background-color: #b3b3b3;

    object-fit: cover;
    object-position: center;
    pointer-events: none;
    display: block;
    position: relative;

    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.one {
    width: 100%;
    height: 100%;
}

#HeaderTxt {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25vh;
    font-family: "Rubik Mono One", monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Tocador de músicas */

#title_giant {
    position: absolute;

    color: #fff;
    font-family: "Rubik Mono One", monospace;
    font-size: 20vh;
    font-weight: bold;
    pointer-events: none;
}

.video-player {
    width: 100%;
    max-width: 500px;
    border: 1px solid #000000;
    border-radius: 19px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /* Indica que o vídeo é interativo */
}

.media-player {
    width: 100%;
    max-width: 500px;
    min-width: 500px;

    object-fit: cover;
    display: block;

    height: 500px;

    border: 1px solid #ffffff;
    border-radius: 19px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    background-color: #b3b3b3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /* Indica que o vídeo é interativo */
}

.video-player:hover {
    transform: scale(1.01);
    /* Leve aumento no tamanho ao passar o mouse */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    /* Sombra mais intensa */
}

.youtube-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    background: #000;
}

.youtube-container iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border: 0;
    border-radius: 20px;
}

.st-container {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
}

.st-player {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 500px;
    height: 90px;

    border-radius: 19px;


    background-color: #020202;

    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: bold;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    margin-top: 50px;
}

.st-player:hover {
    background: linear-gradient(45deg, #104c9b, #7e7b77, #1b1b1b, #b46d10);
    background-size: 300% 300%;
    animation: gradient 3s infinite;
}


main {
    width: 100%;
    height: 100%;
    position: absolute;

    margin: 0px;
    
    background-color: #b3b3b3;
}

section {
    background-color: #b3b3b3;
    width: 102%;
    /* Ajustado para 100% */
    height: 900px;
    text-align: center;

    overflow: hidden;

    display: flex;
    /* flexbox */
    flex-direction: row;
}

.section_dark {
    background-color: #000000;
    width: 102%;
    /* Ajustado para 100% */
    height: 900px;
    text-align: center;

    overflow: hidden;

    display: flex;
    /* flexbox */
    flex-direction: row;
}

.mid {
    background-color: #b3b3b3;
    width: 102%;
    /* Ajustado para 100% */
    height: 400px;
    text-align: center;

    overflow: hidden;

    display: flex;
    /* flexbox */
    flex-direction: row;
}

.mid_dark {
    background-color: #020202;
    width: 102%;
    /* Ajustado para 100% */
    height: 400px;
    text-align: center;

    overflow: hidden;

    display: flex;
    /* flexbox */
    flex-direction: row;
}

.mid_black {
    background-color: #000000;
    width: 102%;
    /* Ajustado para 100% */
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    display: flex;
    /* flexbox */
    flex-direction: row;
}

/* Container (metade do divisorio) pra texto */

.double_container_one {
    background-color: #b3b3b3;

    width: 50%;
    height: 90%;

    display: flex;
    /* flexbox */

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Centraliza o texto */

    overflow-x: hidden;
    overflow-y: scroll;

    gap: 5px;
    /* Espaçamento entre o título e a descrição */
}

/* Container (metade do divisorio) pra imagem */

.double_container_two {
    background-color: #020202;

    width: 50%;
    height: 90%;

    margin-right: 55px;

    border-radius: 85px;

    display: flex;
    /* Para centralizar a imagem */
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */

    overflow: hidden;
}

.double_container_one_black {
    background-color: #000000;

    width: 50%;
    height: 90%;

    display: flex;
    /* flexbox */

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Centraliza o texto */

    overflow-x: hidden;
    overflow-y: scroll;

    gap: 5px;
    /* Espaçamento entre o título e a descrição */
}

/* Container (metade do divisorio) pra imagem */

.double_container_two_black {
    background-color: #bfbfbf;

    width: 50%;
    height: 90%;

    margin-left: 55px;

    border-radius: 85px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    overflow: hidden;
}

.triple_container {
    background-color: #bfbfbf;

    width: 33%;
    height: 50%;

    margin-left: 55px;

    border-radius: 85px;

    display: flex;

    flex-direction: column;
    justify-content: top;
    text-align: center;
    align-items: center;

    overflow: hidden;
}

.divisoria {
    width: 450px;
    height: 450px;

    border-radius: 300px;
    border-color: #637371;

    object-fit: cover;
    display: block;
}

.container{
    position: relative;
    /* Necessário para posicionar o vídeo corretamente */
    background-color: #b3b3b3;
    /* Certifique-se de que o fundo não está cobrindo o vídeo */
    width: 102%;
    height: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* Garante que o vídeo não seja cortado */
}

.container_alternativo{
    position: relative;
    /* Necessário para posicionar o vídeo corretamente */
    background-color: #020202;
    /* Certifique-se de que o fundo não está cobrindo o vídeo */
    width: 102%;
    height: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* Garante que o vídeo não seja cortado */
}

.transicao {
    background: linear-gradient(to top, #020202, #000000);

    width: 102%;
    height: 300px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;

    margin-bottom: 0;
    padding-bottom: 0;
}

.transicao_invertida {
    background: linear-gradient(to top, #000000, #020202);

    width: 102%;
    height: 300px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;

    margin-bottom: 0;
    padding-bottom: 0;
}

.container_black {
    position: relative;
    background-color: #000000;
    width: 102%;
    height: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.container_dark {
    position: relative;
    background-color: #020202;
    width: 102%;
    height: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}